<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <div th:insert="blocks/header" ></div>
</head>
<body>
<div class=ex1><h1>Люди</h1></div>
<form method="post"  th:action="${'/human/filter'}">
  <input type="text" name="lastName" placeholder="Поиск">
  <button type="submit">Найти</button>
</form>
<table  border="1" class="styled-table">
  <tr>
    <th>Фамилия</th>
    <th>рост</th>
    <th>Мужчина</th>
    <th>Дата рождения</th>
    <th>Вес</th>
  </tr> <!--ряд с ячейками заголовков-->
  <tr th:each="el : ${humans}">
    <td th:text="${el.lastName}"></td>
    <td th:text="${el.height}"></td>
    <td th:text="${el.gender}" ></td>
    <td th:text="${el.birthday}"></td>
    <td th:text="${el.weight}"></td>
    <td><a th:href="'/human/' + ${el.id} + '/edit'" class="edit">Редактировать</a></td>
    <td><a th:href="'/human/' + ${el.id} + '/remove'" class="delete">Удалить</a></td>
  </tr>
  <form method="post" th:action="${'/human/filter'}">
    <tr th:each="el : ${result}"><td th:text="${el.lastName}"></td><td th:text="${el.height}"></td><td th:text="${el.gender}" ></td><td th:text="${el.birthday}"></td><td th:text="${el.weight}"></td><td><a th:href="'/human/' + ${el.id} + '/edit'" class="edit">Редактировать</a></td><td><a th:href="'/human/' + ${el.id} + '/remove'" class="delete">Удалить</a></td></tr>
  </form>
</table>
<p></p>
<center><a href="/human/add" class="button7">Создать</a></center>
</body>
<footer>
  <div th:insert="blocks/footer" ></div>
</footer>
</html>